<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <form class="login-form" action="/login" method="POST">
        <p style="color: #7c0303"></span><%= message %></p>
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button class="btn" type="submit">Zaloguj</button>
        <a href="/register" class="btn">Zarejestruj</a>
    </form>
<%- include('includes/end.ejs') %>